In [ ]:
import pandas as pd
df=pd.read_csv("/content/missing value.csv")

In [ ]:
df.head()

    Age Marital status   Income  Gender Expense_per_month
0  33.0        Married    23000    Male             22000
1  -2.0      Unmarried    50000    Male             42000
2  45.0      Unmarried    40000    Male             20000
3  20.0           Null      200  Female               220
4  15.0      Unmarried  unknown    Male             20000

In [ ]:
df.describe()

                Age
count     16.000000
mean     657.375000
std     2491.473162
min       -2.000000
25%       19.500000
50%       34.000000
75%       50.500000
max    10000.000000

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17 entries, 0 to 16
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Age                16 non-null     float64
 1   Marital status     15 non-null     object
 2   Income             16 non-null     object
 3   Gender             16 non-null     object
 4   Expense_per_month  16 non-null     object
dtypes: float64(1), object(4)
memory usage: 808.0+ bytes

In [ ]:
df.shape

(17, 5)

In [ ]:
#droped the 1st,5th,10th,11th row
df = df.drop(index=[1,5,10,11])
print(df)

     Age Marital status   Income  Gender Expense_per_month
0   33.0        Married    23000    Male             22000
2   45.0      Unmarried    40000    Male             20000
3   20.0           Null      200  Female               220
4   15.0      Unmarried  unknown    Male             20000
6   23.0        Married    40000  Female             40000
7   50.0            NaN  1000000    Male             50000
8   75.0        Married        0  Female              2000
9    0.0        Married    50000  Female             30000
12  29.0      Unmarried    43500  Female             20000
13  46.0        Married    46000    Male             30000
14  79.0        Married        0    Male              2000
15  52.0        Married  2300000  Female            100000
16  18.0      Unmarried    25000    Male              1500

In [ ]:
# Fill NaN Null values with the mode
import numpy as np
df = df.replace(['Null', 'unknown', 0, 'n/a'], np.nan)
df['Marital status'].fillna(df['Marital status'].mode()[0], inplace=True)

print(df)

     Age Marital status   Income  Gender Expense_per_month
0   33.0        Married    23000    Male             22000
2   45.0      Unmarried    40000    Male             20000
3   20.0        Married      200  Female               220
4   15.0      Unmarried      NaN    Male             20000
6   23.0        Married    40000  Female             40000
7   50.0        Married  1000000    Male             50000
8   75.0        Married        0  Female              2000
9    NaN        Married    50000  Female             30000
12  29.0      Unmarried    43500  Female             20000
13  46.0        Married    46000    Male             30000
14  79.0        Married        0    Male              2000
15  52.0        Married  2300000  Female            100000
16  18.0      Unmarried    25000    Male              1500

<ipython-input-7-f26b60d8bdf0>:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Marital status'].fillna(df['Marital status'].mode()[0], inplace=True)

In [ ]:
df = df.replace(['Null', 'unknown', 0, 'n/a'], np.nan)
df['Age'].fillna(df['Age'].mean(), inplace=True)

print(df)

          Age Marital status   Income  Gender Expense_per_month
0   33.000000        Married    23000    Male             22000
2   45.000000      Unmarried    40000    Male             20000
3   20.000000        Married      200  Female               220
4   15.000000      Unmarried      NaN    Male             20000
6   23.000000        Married    40000  Female             40000
7   50.000000        Married  1000000    Male             50000
8   75.000000        Married        0  Female              2000
9   40.416667        Married    50000  Female             30000
12  29.000000      Unmarried    43500  Female             20000
13  46.000000        Married    46000    Male             30000
14  79.000000        Married        0    Male              2000
15  52.000000        Married  2300000  Female            100000
16  18.000000      Unmarried    25000    Male              1500

<ipython-input-8-96e82b68c400>:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Age'].fillna(df['Age'].mean(), inplace=True)

In [ ]:
# Convert 'Income' column to numeric, coercing errors to NaN
df['Income'] = pd.to_numeric(df['Income'], errors='coerce')
# Now fill NaN values with the mean
df = df.replace(['Null', 'unknown', 0, 'n/a'], np.nan)
df['Income'].fillna(df['Income'].mean(), inplace=True)

print(df)

          Age Marital status        Income  Gender Expense_per_month
0   33.000000        Married  2.300000e+04    Male             22000
2   45.000000      Unmarried  4.000000e+04    Male             20000
3   20.000000        Married  2.000000e+02  Female               220
4   15.000000      Unmarried  2.973083e+05    Male             20000
6   23.000000        Married  4.000000e+04  Female             40000
7   50.000000        Married  1.000000e+06    Male             50000
8   75.000000        Married  3.513644e+05  Female              2000
9   40.416667        Married  5.000000e+04  Female             30000
12  29.000000      Unmarried  4.350000e+04  Female             20000
13  46.000000        Married  4.600000e+04    Male             30000
14  79.000000        Married  3.513644e+05    Male              2000
15  52.000000        Married  2.300000e+06  Female            100000
16  18.000000      Unmarried  2.500000e+04    Male              1500

<ipython-input-12-c86c103133f8>:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Income'].fillna(df['Income'].mean(), inplace=True)

In [1]:
df.to_csv('processed_data.csv', index=False)

NameError: name 'df' is not defined